# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [2]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

WARNING:tensorflow:From C:\Users\jan\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
# Assuming the file is located in a subfolder named 'Resources'
file_path = 'Resources/applicants_data.csv'

# Read the CSV file into a DataFrame
applicant_data_df = pd.read_csv(file_path)

# Review the DataFrame
display(applicant_data_df)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Review the data types associated with the columns
print(applicant_data_df.dtypes)

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(['EIN', 'NAME'], axis=1)

# Review the DataFrame
print(applicant_data_df.head())

  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  \
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = applicant_data_df.select_dtypes(include=['object']).columns.tolist()

# Display the categorical variables list
print("Categorical variables:", categorical_variables)

Categorical variables: ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [11]:
# Encode the categorcal variables using OneHotEncoder
enc = OneHotEncoder(sparse_output=False)

In [18]:
# Create a DataFrame with the encoded variables
encoded_df = enc.fit_transform(applicant_data_df[categorical_variables])

# Review the DataFrame
display(encoded_df)

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [17]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
# Select numerical variables from the original DataFrame. One way to do this is to drop the categorical columns.
numerical_df = applicant_data_df.drop(categorical_variables, axis=1)

# Concatenate the numerical_df with the encoded_df along columns
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names_out())

# Review the DataFrame
display(encoded_df)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [26]:
print(encoded_df.columns)


print(type(encoded_df))
encoded_df = pd.DataFrame(encoded_data, columns=enc.get_feature_names_out())

# Add 'IS_SUCCESSFUL' back to encoded_df from the original DataFrame
encoded_df['IS_SUCCESSFUL'] = applicant_data_df['IS_SUCCESSFUL'].reset_index(drop=True)

# Now you can define your target y using the 'IS_SUCCESSFUL' column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y to confirm it's correctly defined
print(y.head())

# Define your features X by excluding 'IS_SUCCESSFUL' from encoded_df
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Display the first few rows of X to review the features DataFrame
print(X.head())

Index(['APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T12', 'APPLICATION_TYPE_T13',
       'APPLICATION_TYPE_T14', 'APPLICATION_TYPE_T15', 'APPLICATION_TYPE_T17',
       'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T2', 'APPLICATION_TYPE_T25',
       'APPLICATION_TYPE_T29',
       ...
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object', length=114)
<class 'pandas.core.frame.DataFrame'>
0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64
   APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  \
0                   1.0                   0.0                   0.0
1                   0.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0

   APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  \
0                   0.0                   0.0                   0.0
1                   0.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0

   APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  APPLICATION_TYPE_T25  \
0                   0.0                  0.0                   0.0
1                   0.0                  0.0                   0.0
2                   0.0                  0.0                   0.0
3                   0.0                  0.0                   0.0
4                   0.0                  0.0                   0.0

   APPLICATION_TYPE_T29  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                   0.0  ...                0.0                     0.0
1                   0.0  ...                1.0                     0.0
2                   0.0  ...                0.0                     0.0
3                   0.0  ...                0.0                     1.0
4                   0.0  ...                0.0                     0.0

   INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                       0.0                 0.0               0.0
1                       0.0                 0.0               0.0
2                       0.0                 0.0               0.0
3                       0.0                 0.0               0.0
4                       1.0                 0.0               0.0

   INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                     0.0              0.0                0.0
1                     0.0              0.0                0.0
2                     0.0              0.0                0.0
3                     0.0              0.0                0.0
4                     0.0              0.0                0.0

   SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                       1.0                       0.0
1                       1.0                       0.0
2                       1.0                       0.0
3                       1.0                       0.0
4                       1.0                       0.0

[5 rows x 114 columns]

In [27]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
print(y)

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [28]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop('IS_SUCCESSFUL', axis=1)

# Review the features DataFrame
print(X)

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T12  APPLICATION_TYPE_T13  \
0                       1.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T14  APPLICATION_TYPE_T15  APPLICATION_TYPE_T17  \
0                       0.0                   0.0                   0.0
1                       0.0                   0.0                   0.0
2                       0.0                   0.0                   0.0
3                       0.0                   0.0                   0.0
4                       0.0                   0.0                   0.0
...                     ...                   ...                   ...
34294                   0.0                   0.0                   0.0
34295                   0.0                   0.0                   0.0
34296                   0.0                   0.0                   0.0
34297                   0.0                   0.0                   0.0
34298                   0.0                   0.0                   0.0

       APPLICATION_TYPE_T19  APPLICATION_TYPE_T2  APPLICATION_TYPE_T25  \
0                       0.0                  0.0                   0.0
1                       0.0                  0.0                   0.0
2                       0.0                  0.0                   0.0
3                       0.0                  0.0                   0.0
4                       0.0                  0.0                   0.0
...                     ...                  ...                   ...
34294                   0.0                  0.0                   0.0
34295                   0.0                  0.0                   0.0
34296                   0.0                  0.0                   0.0
34297                   0.0                  0.0                   0.0
34298                   0.0                  0.0                   0.0

       APPLICATION_TYPE_T29  ...  INCOME_AMT_1-9999  INCOME_AMT_10000-24999  \
0                       0.0  ...                0.0                     0.0
1                       0.0  ...                1.0                     0.0
2                       0.0  ...                0.0                     0.0
3                       0.0  ...                0.0                     1.0
4                       0.0  ...                0.0                     0.0
...                     ...  ...                ...                     ...
34294                   0.0  ...                0.0                     0.0
34295                   0.0  ...                0.0                     0.0
34296                   0.0  ...                0.0                     0.0
34297                   0.0  ...                0.0                     0.0
34298                   0.0  ...                0.0                     0.0

       INCOME_AMT_100000-499999  INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  \
0                           0.0                 0.0               0.0
1                           0.0                 0.0               0.0
2                           0.0                 0.0               0.0
3                           0.0                 0.0               0.0
4                           1.0                 0.0               0.0
...                         ...                 ...               ...
34294                       0.0                 0.0               0.0
34295                       0.0                 0.0               0.0
34296                       0.0                 0.0               0.0
34297                       0.0                 0.0               0.0
34298                       0.0                 0.0               1.0

       INCOME_AMT_25000-99999  INCOME_AMT_50M+  INCOME_AMT_5M-10M  \
0                         0.0              0.0                0.0
1                         0.0              0.0                0.0
2                         0.0              0.0                0.0
3                         0.0              0.0                0.0
4                         0.0              0.0                0.0
...                       ...              ...                ...
34294                     0.0              0.0                0.0
34295                     0.0              0.0                0.0
34296                     0.0              0.0                0.0
34297                     0.0              0.0                0.0
34298                     0.0              0.0                0.0

       SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0                           1.0                       0.0
1                           1.0                       0.0
2                           1.0                       0.0
3                           1.0                       0.0
4                           1.0                       0.0
...                         ...                       ...
34294                       1.0                       0.0
34295                       1.0                       0.0
34296                       1.0                       0.0
34297                       1.0                       0.0
34298                       1.0                       0.0

[34299 rows x 114 columns]

### Step 6: Split the features and target sets into training and testing datasets.

In [32]:
from sklearn.model_selection import train_test_split

# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [33]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [34]:
import tensorflow as tf

# X_train_scaled is your scaled features data


# Define the the number of inputs (features) to the model
number_input_features = X_train_scaled.shape[1]

# Review the number of features
number_input_features

114

In [46]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [47]:
# Review the number hidden nodes in the first layer
hidden_nodes_layer1 = int(number_input_features / 2)

# Review the number hidden nodes in the first layer
print(f"Number of hidden nodes in the first layer: {hidden_nodes_layer1}")

Number of hidden nodes in the first layer: 57

In [48]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = int(hidden_nodes_layer1 / 2)

# Review the number hidden nodes in the second layer
print(f"Number of hidden nodes in the second layer: {hidden_nodes_layer2}")

Number of hidden nodes in the second layer: 28

In [49]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()

In [50]:
# Add the first hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

In [51]:
# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

In [52]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=number_output_neurons, activation='sigmoid'))

In [53]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 57)                6555

 dense_5 (Dense)             (None, 28)                1624

 dense_6 (Dense)             (None, 1)                 29

=================================================================
Total params: 8208 (32.06 KB)
Trainable params: 8208 (32.06 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [54]:
# Compile the Sequential model
nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From C:\Users\jan\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [55]:
# Fit the model using 50 epochs and the training data
history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
WARNING:tensorflow:From C:\Users\jan\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\jan\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 1s 1ms/step - loss: 0.5781 - accuracy: 0.7152
Epoch 2/50
804/804 [==============================] - 1s 995us/step - loss: 0.5521 - accuracy: 0.7302
Epoch 3/50
804/804 [==============================] - 1s 988us/step - loss: 0.5488 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 1s 990us/step - loss: 0.5475 - accuracy: 0.7330
Epoch 5/50
804/804 [==============================] - 1s 964us/step - loss: 0.5456 - accuracy: 0.7324
Epoch 6/50
804/804 [==============================] - 1s 977us/step - loss: 0.5453 - accuracy: 0.7334
Epoch 7/50
804/804 [==============================] - 1s 983us/step - loss: 0.5438 - accuracy: 0.7341
Epoch 8/50
804/804 [==============================] - 1s 967us/step - loss: 0.5426 - accuracy: 0.7338
Epoch 9/50
804/804 [==============================] - 1s 982us/step - loss: 0.5425 - accuracy: 0.7339
Epoch 10/50
804/804 [==============================] - 1s 995us/step - loss: 0.5425 - accuracy: 0.7355
Epoch 11/50
804/804 [==============================] - 1s 975us/step - loss: 0.5413 - accuracy: 0.7349
Epoch 12/50
804/804 [==============================] - 1s 985us/step - loss: 0.5407 - accuracy: 0.7355
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 15/50
804/804 [==============================] - 1s 982us/step - loss: 0.5399 - accuracy: 0.7370
Epoch 16/50
804/804 [==============================] - 1s 998us/step - loss: 0.5393 - accuracy: 0.7371
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 1s 986us/step - loss: 0.5388 - accuracy: 0.7368
Epoch 19/50
804/804 [==============================] - 1s 977us/step - loss: 0.5379 - accuracy: 0.7368
Epoch 20/50
804/804 [==============================] - 1s 985us/step - loss: 0.5379 - accuracy: 0.7368
Epoch 21/50
804/804 [==============================] - 1s 980us/step - loss: 0.5374 - accuracy: 0.7379
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7378
Epoch 23/50
804/804 [==============================] - 1s 990us/step - loss: 0.5369 - accuracy: 0.7383
Epoch 24/50
804/804 [==============================] - 1s 968us/step - loss: 0.5368 - accuracy: 0.7377
Epoch 25/50
804/804 [==============================] - 1s 972us/step - loss: 0.5366 - accuracy: 0.7377
Epoch 26/50
804/804 [==============================] - 1s 984us/step - loss: 0.5361 - accuracy: 0.7390
Epoch 27/50
804/804 [==============================] - 1s 982us/step - loss: 0.5362 - accuracy: 0.7392
Epoch 28/50
804/804 [==============================] - 1s 964us/step - loss: 0.5356 - accuracy: 0.7380
Epoch 29/50
804/804 [==============================] - 1s 979us/step - loss: 0.5356 - accuracy: 0.7388
Epoch 30/50
804/804 [==============================] - 1s 991us/step - loss: 0.5351 - accuracy: 0.7394
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7389
Epoch 32/50
804/804 [==============================] - 1s 991us/step - loss: 0.5350 - accuracy: 0.7385
Epoch 33/50
804/804 [==============================] - 1s 977us/step - loss: 0.5350 - accuracy: 0.7392
Epoch 34/50
804/804 [==============================] - 1s 992us/step - loss: 0.5346 - accuracy: 0.7390
Epoch 35/50
804/804 [==============================] - 1s 957us/step - loss: 0.5347 - accuracy: 0.7409
Epoch 36/50
804/804 [==============================] - 1s 992us/step - loss: 0.5340 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 1s 998us/step - loss: 0.5340 - accuracy: 0.7394
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7392
Epoch 39/50
804/804 [==============================] - 1s 971us/step - loss: 0.5340 - accuracy: 0.7394
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 987us/step - loss: 0.5335 - accuracy: 0.7393
Epoch 42/50
804/804 [==============================] - 1s 976us/step - loss: 0.5333 - accuracy: 0.7405
Epoch 43/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7398
Epoch 44/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7403
Epoch 45/50
804/804 [==============================] - 1s 953us/step - loss: 0.5325 - accuracy: 0.7406
Epoch 46/50
804/804 [==============================] - 1s 989us/step - loss: 0.5325 - accuracy: 0.7410
Epoch 47/50
804/804 [==============================] - 1s 978us/step - loss: 0.5326 - accuracy: 0.7414
Epoch 48/50
804/804 [==============================] - 1s 990us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 49/50
804/804 [==============================] - 1s 982us/step - loss: 0.5325 - accuracy: 0.7405
Epoch 50/50
804/804 [==============================] - 1s 992us/step - loss: 0.5322 - accuracy: 0.7402

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [56]:
# Set the model's file path
file_path = 'AlphabetSoup.h5'

# Export your model to a HDF5 file
nn.save(file_path)

C:\Users\jan\anaconda3\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

In [ ]:
# Create the Sequential model instance
nn_A1 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE


# Output layer
# YOUR CODE HERE


# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the Sequential model
nn_A1.# YOUR CODE HERE

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = # YOUR CODE HERE

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = # YOUR CODE HERE

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = # YOUR CODE HERE

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

In [ ]:
# Create the Sequential model instance
nn_A2 = # YOUR CODE HERE

In [ ]:
# First hidden layer
# YOUR CODE HERE

# Output layer
# YOUR CODE HERE

# Check the structure of the model
# YOUR CODE HERE

In [ ]:
# Compile the model
# YOUR CODE HERE

In [ ]:
# Fit the model
# YOUR CODE HERE

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =# YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = # YOUR CODE HERE

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE

In [ ]:
# Set the file path for the second alternative model
file_path = # YOUR CODE HERE

# Export your model to a HDF5 file
# YOUR CODE HERE